.library
{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    padding-top: 120px;
   
    
}
.main
{
    background: #e7e7e7;
    
}
.loader
{
    text-align: center;
    color: grey;
}
form
{
    padding-top: 100px;
}

